//creamos variables
$color-fondo: black;
$tipografia: 'Russo One', sans-serif;

*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body
{
    background-color: rgb(75, 71, 71);
}

.contenedor
{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

header
{
    background-color: $color-fondo;
    text-align: center;
    h1
    {
        font-family: $tipografia;
        font-size: 50px;
        color: aliceblue;
        text-align: left;
    }
    nav
    {
        padding: 10px;
        a
        {
            font-family: $tipografia;
            font-size: x-large;
            margin: 10px;
            padding: 10px;
            color: #fef6cd;
            text-decoration: none;
            &:hover
            {
                color: red;
                font-size: bold;
            }
        }
    }
    .logotipo
    {
        img
        {
            width: 50%;
            height: 315px;
        }
    }
}

main
{
    h1
    {
        margin: 90px;
        font-family: $tipografia;
        color: #fef6cd;
        text-align: center;
    }
    p
    {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: x-large;
        color: silver;
        text-align: center;
    }
    .boton
    {
        @include flex-center;
        .button
        {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin: 50px;
            padding: 10px;
            width: 100px;
            height: 50px;
            border-radius: 50px;
        }
    }
    .home
    {
        cursor: pointer;
        transition: all ease 300ms;
        &:hover
        {
            transform: scale(1.2);
        }
        img
        {
            width: 100%;
            height: fit-content;
        }
    }
    .contenedor
    {
        .container
        {
            @include flex-evenly;
        }
        .novedades
        {
            width: 30%;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            border: 4px solid black;
            border-radius: 2px;
            transition: box-shadow 0.3s ease-in-out;
            &:hover
            {
                box-shadow: 0 8px 16px rgb(0, 0, 0);
            }
            img
            {
                display: block;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

footer
{
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: #ffffff;
    .social
    {
        font-family: $tipografia;
        font-size: x-large;
        margin-top: 20px;
    }
    .redes
    {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        gap: 20px;
        a
        {
            font-size: 80px;
            transition: all ease 300ms;
            &:hover
            {
                transform: scale(1.2);
            }
        }
        .facebook
        {
            color: rgba(2, 74, 230);
        }
        .whatsapp
        {
            color: rgb(3, 196, 3);
        }
        .twitter
        {
            color: #4fa8fb;
        }
        .instagram
        {
            color: orange;
        }
        .tiktok
        {
            color: black;
        }
    }
    .copy
    {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: x-small;
    }
}